<div class="flex flex-col gap-10 w-[100%] h-[100%]">
  <div class="flex flex-col gap-2">
    <h3 class="text-emerald-900 font-medium text-base">Bill</h3>
    <input
      type="number"
      placeholder="0"
      [(ngModel)]="bill"
      (ngModelChange)="onChangeBill()"
      class="bg-slate-200 rounded-lg py-2 px-4 outline-none text-right text-emerald-900 text-2xl font-semibold"
    >
  </div>
  <div class="flex flex-col gap-2">
    <h3 class="text-emerald-900 font-medium text-base">Select Tip %</h3>
    <div class="flex gap-2 flex-wrap">
      <app-button *ngFor="let tip of tipsValues" [value]="tip + '%'" (clickEvent)="onChangeTip(tip)"></app-button>
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <h3 class="text-emerald-900 font-medium text-base">Number  of People</h3>
    <input
      type="number"
      value="1"
      placeholder="1"
      [(ngModel)]="numberOfPeople"
      (ngModelChange)="onChangeNumberOfPeople()"
      class="bg-slate-200 rounded-lg py-2 px-4 outline-none text-right text-emerald-900"
    >
  </div>
</div>
